#primerul
{
	display: inline-block;
	background: blue;
	color: white;

}

#segundoul
{
	background: yellow;
	color: orange;

}

.Explota 
{
	background: blue;
	color: red;
}

.Samsung
{
	background: blue;
	color: white;
}