body
{
	font-size: 16px; 
	margin: 0 auto;
	max-width: 1078px; /*decision de la empresa*/
	min-width: 1078px; /*cancela movimiento de elemento*/
}

header input
{
	float: right;
	margin-right: -200px;
	/*margin-top: 15px;*/
	position: relative;
}
header nav
{
	margin-left: 220px;
}
header nav ul li
{
	border-bottom: 1px solid gray;
	color: gray;
	display: inline-block;
	font-size: 1.8em;
	margin-right: 15px;
	/*text-decoration: underline;*/

}
#bgoffer
{
	position: relative;
	top: -410px;
	left: -35;
}



#granthams /*logo de la empresa*/
{
	margin-top: 20px;
	margin-left: 20px;
}

#paint
{
	float: right;
	margin-top: 20px;
}
#primerseccion 
{
	height: 317.99px;
	margin-top: 70px;

}

#primerseccion article
{
	display: inline-block;
	margin-left: 25px;
	vertical-align: top;
}

#secc01art01
{
	width: 60%;
}
#segundaseccion article
{
	padding-right: 180px;
	text-align:right;
}
#secc01art02
{
	width: 30%;
}

#terceraseccion article
{
	display: inline-block;
	width: 22%;
	vertical-align: top;
}
.numerotelefono
{
	color:#FF0099;
	font-size: 2em;
	font-weight: bold;
}
.wecanoffer
{
	color: #ff0099;
	font-size: 3.5em;
	font-weight: bold;
}






